@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $white;
  }
  &:-moz-placeholder {
    color: $white;
  }
  &::-moz-placeholder {
    color: $white;
  }
  &::-ms-placeholder {
    color: $white;
  }
}