
/* THEME */

// $themeColor: #008FAB;
$themeColor: #00B2DC;
$themeColorLight: lighten($themeColor, 5%);
$gray: #9C9F9F;
$backgroundColor: #E2E6E6;


/*** BOOTSTRAP OVERRIDES ***/
/* ICONS */
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* Override Base Styles */
$baseBorderRadius:      0px;
$borderRadiusLarge:     0px;
$borderRadiusSmall:     0px;

$linkColor: $themeColor;
$dropdownLinkBackgroundActive: $themeColor;

/* Override Default Grid */
$gridGutterWidth: 24px;
$gridColumnWidth: 73px;

/* Override Navbar Styles */
$navbarHeight: 25px;
/*** BOOTSTRAP OVERRIDES END ***/


/* MAIN LAYOUT */

$navigationWidth: 200px;
$navigationMargin: 0;
$contentWidth: 740px;
$sidebarWidth: 160px;

/* Navigation Breakpoint Grid */
$navigationBreakPoint: 1140px;
$gridGutterWidthNavigation: 16px;
$gridColumnWidthNavigation: 67px;

/* Sidebar Breakpoint Grid */
$sidebarBreakPoint: 980px;
$gridGutterWidthSidebar: 8px;
$gridColumnWidthSidebar: 61px;

/* Full Stack Breakpoint Grid */
$fullStackBreakPoint: 1350px;
$gridGutterWidthFullStack: 30px;
$gridColumnWidthFullStack: 85px;
