@import "compass";

// OLD 004A4A
// #008FAB
// #78F200
// #4019E6


@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $white;
  }
  &:-moz-placeholder {
    color: $white;
  }
  &::-moz-placeholder {
    color: $white;
  }
  &::-ms-placeholder {
    color: $white;
  }
}

/* THEME */

$themeColor: #008FAB;
// $themeColor: lighten(#004A4A, 10%);
$themeColorLight: lighten($themeColor, 5%);

/* ICONS */
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

/* Override Base Styles */
$baseBorderRadius:      0px;
$borderRadiusLarge:     0px;
$borderRadiusSmall:     0px;

$linkColor: $themeColor;
$dropdownLinkBackgroundActive: $themeColor;

/* Override Default Grid */
$gridGutterWidth: 20px;
$gridColumnWidth: 91px;

/* Override Navbar Styles */
$navbarHeight:                    20px;

@import 'bootstrap';
@import 'fontello/fontello';

/* BODY / HTML*/
body,html {
  width: 100%;
}

html {
  // height: 100%;
  background: $grayLighter url(../images/mooning.png) 50% 0;
  // overflow-y: scroll;
  // overflow-x: hidden;
  // -webkit-overflow-scroll: touch;

  overflow-x: hidden;
  overflow-y: scroll;
  // ios overfloy-x hidden fix
  position: relative;
  -webkit-overflow-scrolling: touch;
}

body {
  background: none transparent;
  perspective: 1500;
}

/* HEADER */

#header {
  position: relative;
}

#serlo-logo {
  position: absolute;
  left: 50%;
  top: 0;

  margin-left: -55px;
  width: 110px;
  height: 147px;

  img {
    width: 110px;
    height: 147px;
  }
  // background: url(../images/logo1.png) no-repeat;
  // background-size: 100%;
}

#serlo-menu {
  font-size: 0.8em;
  border-bottom: 2px solid $themeColor;

  li {
    line-height: 23px;
  }
}

#subject-nav {
  .dropdown-toggle {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .caret {
    margin-left: 10px;
    margin-top: 17px;
    border-width: 7px;
  }
}

/* MAIN LAYOUT */

$navigationWidth: 220px;
$navigationMargin: 12px;
$contentWidth: 840px;
$sidebarMargin: 12px;

/* Navigation Breakpoint Grid */
$navigationBreakPoint: 1312px;
$gridColumnWidthNavigation: 20px;
$gridGutterWidthNavigation: 81px;

/* Sidebar Breakpoint Grid */
$sidebarBreakPoint: 1131px;
$gridColumnWidthSidebar: 20px;
$gridGutterWidthSidebar: 64px;


@media only screen and (max-width: $navigationBreakPoint) {
  @include grid-core($gridColumnWidthNavigation, $gridGutterWidthNavigation);
}

@media only screen and (max-width: $sidebarBreakPoint) {
  @include grid-core($gridColumnWidthSidebar, $gridGutterWidthSidebar);
}

#page {
  position: relative;
  margin-top: 55px;
  margin-bottom: 45px;
  
  transform-style: preserve-3d;
  transition: 0.25s transform 0.01s ease-in-out, 0.25s opacity 0.25s ease-in-out;
}

#navigation {
  position: relative;
  z-index: 90;
}

#navigation-container {
  position: absolute;
  width: $navigationWidth;
  height: auto;
  top: 0;
  left: 0;
  margin: 0;

  background: #f0f0f0;

  @include background(linear-gradient(right, #e0e0e0, #f0f0f0 12px, #f0f0f0));

  @media only screen and (max-width: $navigationBreakPoint) {
    width: 40px;
    top: 20px;
  }

  &.layout-toggle-active {
    width: $navigationWidth;
    margin-left: 40px;
    #navigation-content {
      visibility: visible;
    }
  }

  .slide-left & {
    display: none;
  }
}


#navigation-toggle {

  width: 40px;
  &:hover {
    box-shadow: -2px 0 4px darken($themeColor, 8%) inset;
  }
  
  @media only screen and (max-width: $navigationBreakPoint) {
    display: block;
  }

  .layout-toggle-active & {
    // display: none;
    left: -40px;
    background: $themeColor;
    color: $white;
  }

}

#navigation-content {
  width: $navigationWidth;

  @media only screen and (max-width: $navigationBreakPoint) {
    visibility: hidden;
  }

  .layout-toggle-active & {
    display: block;
    width: 220px;
  }
}

#main-nav {
  & > li > a {
    display: block;
    padding: 5px 12px;
      
    color: $grayDarker;

    &:hover {
      background: $themeColor;
      color: $white;
    }
  }
}

#main {
  position: relative;

  padding-left: $navigationWidth;
  
  @media only screen and (max-width: $navigationBreakPoint) {
    padding-left: 40px;
  }

  @include clearfix();

  .slide-left & {
    left: -260px;
  }

  .slide-right & {
    left: 220px;
  }
}

#content {
  width: $contentWidth;
  float: left;
}

#content-container {
  background: $white;
  min-height: 680px;
  padding: 12px 20px 20px;
}

#search-content {
  display: block;
  position: absolute;
  top: -37px;
  left: 0;
  width: 220px;
  
  overflow: hidden;
  z-index: 1;

  transition: 0.3s width 0.1s;
  
  @media only screen and (max-width: $navigationBreakPoint) {
    position: absolute;
    top: -57px;
    left: 40px;
    
    width: 220px;
    input {
      border: none;
    }
  }

  .layout-toggle-active & {
    left: 220px;
  }

  &.is-focus {
    width: 386px;
    box-shadow: 0 0 7px #9f9f9f;
    
    #search-help {
      display: block;
    }
  }

  &.has-results {
    
    #search-results {
      display: block
    }

    #search-help {
      display: none;
    }
  }

  input {
    width: 100%;
    height: 37px;

    box-sizing: border-box;
    border: none;
    border-radius: 0;
    padding: 4px 24px 4px 12px;
    background: rgba($white, 0.3);
  
    transition: 0.3s background-color 0s;

    line-height: 2;
  
    &:hover {
      background: $white;
    }

    &:focus {
      outline: none;
      background: $themeColor;
      color: $white;
      
      @include placeholder-color($white);

      & + .icon-search {
        color: $white;
      }

    }
  }

  .icon-search {
    position: absolute;
    top: 8px;
    right: 11px;
  }
}

#search-results {
  display: none;
  
  margin-bottom: 0;
  
  background: $white;

  a {
    padding: 6px 12px;
  }
}

#search-help {
  display: none;

  padding: 12px;
  width: 362px;

  background: $white;
}

.content-controls {
  opacity: 0.3;

  transition: 0.15s opacity 0s;

  &:hover {
    opacity: 1;
  }
}

#sidebar {
  position: relative;

  margin-left: $contentWidth;
  min-height: 300px;
  top: 20px;

  background: #f0f0f0;

  @include background(linear-gradient(left, #e0e0e0, #f0f0f0 12px, #f0f0f0));

  @media only screen and (max-width: $sidebarBreakPoint) {
    width: 40px;
  }

  &.layout-toggle-active {
    width: 260px;
    position: absolute;
    right: -196px;

    #sidebar-content {
      visibility: visible;
    }
  }
}

/* Toggle Button */
.layout-toggle {
  display: none;

  height: auto;
  padding: 10px 0;
  
  // background: $white;

  font-size: 1.5em;
  text-align: center;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  cursor: pointer;

  &:hover {
    background: $themeColor;
    color: $white;
  }

  .toggle-bar {
    display: block;
    margin: 0 6px;
    border-top: 2px solid $gray;

    & + .toggle-bar {
      margin-top: 3px;
    }
  }
}

.layout-toggle-active {
  .layout-toggle {
    display: none;
  }
  .layout-inner {
    display: block;
  }
}

#sidebar-toggle {

  &:hover {
    box-shadow: 2px 0 4px darken($themeColor, 8%) inset;
  }

  @media only screen and (max-width: $sidebarBreakPoint) {
    display: block;
  }


  .layout-toggle-active & {
    right: -40px;
    width: 40px;
    background: $themeColor;
    color: $white;
  }
}

#sidebar-content {
  width: $navigationWidth;

  @media only screen and (max-width: $sidebarBreakPoint) {
    visibility: hidden;
  }

  .layout-toggle-active & {
    display: block;
    width: 220px;
  }
}

.layout-inner {
  display: block;
  padding: 12px 20px;
}

#footer {
  padding-top: 15px;
  
  border-top: 2px solid $themeColor;
}


/* MAIN NAV STYLES */
#main-nav {
  & > li {
    position: relative;

    & > ul {
      padding: 5px 0 0 12px;
      margin-bottom: 0;
      & > li > a {
        font-size: 0.9em;
        line-height: 1.4;
        padding: 3px 12px;
      }
    }
  }
  
  .subnav {
    display: none;
    position: absolute;
    left: $navigationWidth;
    top: 0;
    width: $navigationWidth * 1.5;
    height: 440px;

    background: $themeColor;
    list-style: none;

    ul {
      position: absolute;
      display: none;
      top: 0;
      left: $navigationWidth * 1.5;
      width: $navigationWidth * 1.5;
      margin-left: 0;

      &.first-level {
        position: relative;
        display: block;
        left: 0;
        top: 0;
        min-height: 400px;
      }

      & > li {
        display: block;
        padding: 5px 12px;
        
        list-style: none;
        
        color: $white;

        a {
          color: $white;
        }
      }

      .active-hover > ul {
        display: block;
      }
    }

    .mask {
      width: $navigationWidth * 1.5;
      overflow: hidden;
    }

    .mover {
      position: relative;
    }

    .info {
      display: none;
    }
  }

  .active-hover {
    & > a {
      background: $themeColor;
      color: $white;
    }
    .subnav {
      display: block;
    }
  }
}

#subnav-info {
  position: absolute;
  display: none;

  top: 0;
  left: $navigationWidth * 1.5;
  width: $navigationWidth * 1.5;
  height: 440px;

  background: $themeColor;
}

.ajax-content-active #page {
  // transform: translateX(-70%) rotateY(-12deg) translateZ(-165px);
  transform: translateX(-25%) translateY(-4%) translateZ(-150px);
  opacity: 0.85;
}

#ajax-content-overlay {
  position: absolute;
  
  right: -100%;
  top: 177px;
  
  width: 740px;
  
  background: $white;
  
  box-shadow: 0 0 9px $grayLight;

  transition: 0.35s right 0.01s;

  &.active {
    right: 0;
  }
}

#ajax-content-overlay-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.9);
}

#ajax-content-overlay-head {
  padding: 12px 20px 0;
}

#ajax-content-overlay-inner {
  min-height: 100%;
  padding: 0 20px;
}

#ajax-content-overlay-footer {
  padding: 12px 20px;
  margin: 0;
}

#ajax-content-overlay-tabs {

  li {
    max-width: 120px;
    white-space: nowrap;
    a {
      overflow: hidden;
    }
  }
}