
/* MAIN NAV STYLES */

#main-nav {
    margin-bottom: 0;
    
    .icon-play {
        font-size: 0.8em;
        color: rgba($white, 0.7);
    }

    li:hover {

        & >.icon-play {
            color: $white;
        }
    }
    
    a {
        color: $white;

        &:hover,
        &.active,
        &.active-trail {
            background: $themeColor;
            color: $white;
        }

        background: $gray;
        @include background(linear-gradient(right, darken($gray, 3%), $gray 12px, $gray));

    }

    & > li {
        position: relative;

        & > a {
            display: block;

            padding: 14px 12px 12px;
            font-size: 14px;

            font-weight: bold;

            &.active {
                background-color: $themeColor;
            }

            & [class*="icon-"] {
                font-size: 1.6em;
                vertical-align: text-top;
            }
        }

        & > ul {
            margin-bottom: 0;
            padding-bottom: 9px;

            & > li > a {
                font-size: 0.8em;
                line-height: 1.4;
                padding: 4px 12px 3px 46px;
            }
        }

        & + li {
            margin-top: 2px;
        }


    }
  
    .subnav {
        display: none;
        position: absolute;
        left: $navigationWidth;
        top: -113px;
        width: $navigationWidth * 1.5;

        background: $themeColor;
        list-style: none;

        font-size: 0.85em;

        .title {
            padding: 22px 12px 11px;
            margin-bottom: 15px;

            font-size: 17px;
            font-weight: bold;
            
            a {
                color: white;
            }

            .icon-left-circle {
                font-size: 22px;
            }
        }

        ul {
            position: absolute;
            display: none;
            top: 0;
            left: $navigationWidth * 1.5;
            width: $navigationWidth * 1.5;
            margin-left: 0;

            &.first-level {
                position: relative;
                display: block;
                left: 0;
                top: 0;
                min-height: 330px;
            }

            & > li {
                display: block;
                padding: 5px 12px;

                list-style: none;

                color: $white;
            }

            .active-hover > ul {
                display: block;
            }
        }


        a {
            color: $white;
            background: none;
        }

        .mask {
            width: $navigationWidth * 1.5;
            overflow: hidden;
        }

        .mover {
            position: relative;
        }

    }

    .active-hover {
        & > a {
            background: $themeColor;
            color: $white;
        }
        .subnav {
            display: block;
        }
    }

    .info {
        display: none;
    }

    .divider {
        height: 17px;
    }

    .active-trail + .nav-second {
        background: $themeColor;
    }
}

#nav-overview {
    background: $gray;
    color: $white;
    padding: 12px 12px 11px;

    a {
        &:hover {
             background: $gray;
        }
    }
}