#beta {
    position: absolute;
    top: 32px;
    right: 0;
    background-color: $themeColor;
    color: white;
    padding: 3px 8px;
}

/// top bar menu
#serlo-menu {
    font-size: 0.8em;
    border-bottom: 2px solid $themeColor;

    li {
        line-height: 23px;
    }
    
    .navbar-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        @extend .container;
    }
}

#logo-image {
    vertical-align: top;
}

/// the subject picker next to the logo
#subject-nav {
    padding: 15px 0;

    .title {
        display: inline;
        padding-right: 12px;

        font-weight: bold;
    }

    .slogan {
        padding: 0.3em 0.2em;
        font-size: 1.2em;
        font-style: italic;
        color: $lightGray;
    }

    .dropdown {
        display: inline;
        z-index: 2;

        // color: $themeColor;
    }

    .open .dropdown-menu {
        display: block;
        z-index: -1;
        top: -33px;
        padding-top: 58px;
        padding-left: 0;
        left: -12px;
        width: 660px;
        border-radius: 2px;
    }

    li > a {
        font-size: 1.2em;
        line-height: 1.5em;

        color: $gray;

        &:hover {
            background: none;
            text-decoration: underline;
        }
    }

    .dropdown-toggle {
        display: inline-block;
        z-index: 12;

        cursor: pointer;
        border-bottom: 2px solid transparent;
        
        line-height: 43px;
        font-size: 38.5px;
        font-weight: bold;

        color: $themeColor;

        &:hover,
        &:focus {
            text-decoration: none;
            border-color: $themeColor;
        }
    }

    .caret {
        margin-left: 10px;
        margin-top: 20px;
        border-width: 7px;
        border-top-color: $themeColor;
    }

    .right-side {
        .layout-inner {
            padding-top: 17px;

            border-left: 1px solid $lighterGray;
        }

        & + .right-side {
            .layout-inner {
                border: none;
            }
        }
    }

    .nav-header {
        padding-left: 15px;
        font-size: inherit;
        color: $black;
    }
}

#navigation-toggle {
    background: $gray;
    @include background(linear-gradient(right, darken($gray, 3%), $gray 12px, $gray));

    &:hover,
    .layout-toggle-active & {
        box-shadow: -2px 0 4px darken($themeColor, 8%) inset;
        background: $themeColor;
        color: $white;
    }

}

#content-container {
    background: $white;
    border: 1px solid #dfdfdf;
}

#pagetitle {
    border-bottom: 1px solid $lighterGray;
}

#search-content {
    background: $white;

    &.is-focus {
        box-shadow: 0 0 7px #9f9f9f;
    }

    input {
        background: rgba($white, 0.3);

        &:hover {
            background: $white;
        }

        &:focus {
            background: $themeColor;
            color: $white;

            @include placeholder-color($white);

            & + .icon-search {
                color: $white;
            }
        }
    }
}

#search-results {
    background: $white;
    box-shadow: 0 0 3px #dadada;
}

#search-help {
    background: $white;
    box-shadow: 0 0 3px #dadada;
}

#sidebar {
    
    a {
        color: $white;
    }
}

.layout-toggle {
    font-size: 1.5em;
    text-align: center;

    color: $white;

    &:hover {
        background: $themeColor;
        // color: $white;
    }

    .toggle-bar {
        border-top: 2px solid $gray;
    }
}

.sidebar-content-group {

    color: $white;

    background: $gray;
    @include background(linear-gradient(left, darken($gray, 3%), $gray 12px, $gray));

    & + .sidebar-content-group {
        margin-top: 2px;
    }

    &.gray {
        margin-top: 19px;
        background: $lightGray;
    }

    &.preview {
        display: none;
        background: $themeColor;
        border: 3px solid $white;
        padding: 12px;
        box-shadow: 1px 1px 9px $lighterGray;
    
        h4 {
            font-weight: normal;
        }
        p {
            font-size: 0.9em;
        }
        .nav {
            font-size: 0.9em;
            li {
                margin-bottom: 6px;
            }
        }
    }
}

#sidebar-toggle {
    background: $gray;
    @include background(linear-gradient(left, darken($gray, 3%), $gray 12px, $gray));

    &:hover,
    .layout-toggle-active & {
        background: $themeColor;
        color: $white;
        box-shadow: 2px 0 4px darken($themeColor, 8%) inset;
    }
}

#footer {
    border-top: 2px solid $themeColor;
    background: $footerBackground;

    font-size: 0.9em;
    small {
        color: $gray;
    }

    a {
        padding-left: 0;
        color: $gray;

        &:hover {
            background: none;
            text-decoration: underline;
        }
    }

}

.horizont {
    background: $lighterGray;

    .image {
        height: 170px;
    }

    a {
        color: $black;
        &:hover {
            text-decoration: none;
            color: $black;
        }
    }
}