/* THEME */

// $themeColor: #008FAB;
$themeColor: #00AFDA;
$themeColorLight: lighten($themeColor, 5%);
$gray: #9E9F9F;
$backgroundColor: #E4E6E6;

// TOP NAV BAR
$navbarBackground: #FBFBFB;
$navbarBackgroundHighlight: $navbarBackground;

// FOOTER
$footerBackground: #FFF;